body{
    background: linear-gradient(to right, #dc6709, #67300d) !important;
}

.container{
    background: white;
    border:2.5px solid #333333;
    height: 250px;
    text-align: center;
    margin-top:100px;
}


.options{
    margin:auto;
    display: flex;
    width: max-content;

}

.options button {
    border: 2px solid #333333;
    min-width: 200px;
    max-width: 200px;
    background: linear-gradient(to right, #dc6709, #67300d) !important;
    margin: 30px;
    text-align: center;
    font-size: 15px;
    color: white;
    text-decoration: none;
}